<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Found/Not Found</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <center>
        <h1>The student data is successfully found!</h1>
        <div>
            <b>Name of the Student:</b><%= name %> <br>
            <b> Registration Number: </b><%= reg %> <br>
            <b> E-Mail ID: </b><%= email %> <br>
            <b> Course: </b><%= course %> <br>
            <b> Contact Number: </b><%= num %>
            <br><br>
        </div>
    </center>
    <a href="/">BACK TO HOME</a>
</body>
</html>